* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-main: #464646;
  --bg-card: #2d2727;
  --border-color: #ecf745;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  /* height: 100vh; */
  background-color: var(--bg-main);
}

h1 {
  color: #fff;
}
span {
  color: var(--border-color);
}

#card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  width: 5rem;
  height: 5rem;
  background-color: var(--bg-card);
  background-size: contain;
  border-radius: 0.6rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
}

.selected-card {
  border: 0.2rem solid var(--border-color);
}

.match {
  border: 4px solid red;
}
